:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  color-scheme: light dark;
  color: #2a87e4;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  margin: 0;
}

button {
  border-radius: 12px;
  border: 2px solid #ed82cd;
  margin: 12px 0;
  font-weight: 500;
  font-family: inherit;
  background-color: #fa9c8e;
  cursor: pointer;
  transition: border-color 0.25s;
}
.buttonSmall {
  padding: 0.4em 0.8em;
  font-size: 1em;
}
.activeNetwork {
  background-color: #ff735e;
}
.buttonLarge {
  padding: 0.6em 1.2em;
  font-size: 1.5em;
}
button:hover {
  border-color: #9c40d9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#toast {
  visibility: hidden;
  background-color: #fe9fe1;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}